a { text-decoration: none; color: #707070; } 

main { margin: 0; height: 641px; }

/* main */
section.content { width: 100%; line-height: 1; display: flex; flex-direction: column; flex-wrap: nowrap; } 
.content>a { display: block; padding: 4px 8px; border-radius: 7px; background-color: #1ed761; color: #fff; font-size: 17px; font-weight: 500; letter-spacing: -0.8px; line-height: 1.5; margin-left: auto; } 
section.user_profile { width: 100%; display: flex; flex-direction: column; row-gap: 25px; margin-bottom: 25px; } 
div.user { border: 1px solid #f6f6f6; border-radius: 100%; width: 120px; height: 120px; margin: 0 auto; background: url(../images/ACV_MR_Eivor_Female_Static_close_sm.jpg) no-repeat 50% 20%; background-size: 200%; } 
span.name { margin: 0 auto; font-weight: 500; font-size: 17px; letter-spacing: -0.9px; } 
.user_profile>ul { display: flex; justify-content: center; column-gap: 24px; } 
.user_profile>ul>li { display:inline-flex; column-gap: 24px; font-size: 14px; align-items: center; } 
.user_profile>ul>li>img { height: 19px; } 

section.page_list { width: 100%; } 
.page_list>ul { width: 100%; display: flex; flex-wrap: wrap; } 
.page_list>ul>li { width: 100%; display: flex; background: url(../images/list.png) no-repeat 95% 50%; background-size: 5%;
  border-bottom: 1px solid #ebebeb; } 
.page_list>ul>li>a { font-size: 17px; font-weight: 500; color: #262626; padding: 12px 20px; } 
.page_list>ul>li:last-child { background: none; display: flex; flex-wrap: wrap; border-bottom: none; } 
.page_list>ul>li:last-child>span { width: 100%; font-size: 17px; font-weight: 500; color: #262626; padding: 10px 20px; } 
.page_list>ul>li:last-child>ul { display: flex; flex-wrap: wrap; padding: 0; row-gap: 10px; justify-content: space-between; } 
.page_list>ul>li:last-child>ul>li { display: inline-flex; width: 100px; border-radius: 7px; background-color: #e6fdc0; padding: 1vh 0; justify-content: center; } 
.page_list>ul>li:last-child>ul>li>a { font-size: 15px; color: #262626; letter-spacing: -0.9px; } 



