


a { text-decoration: none; color: #707070; } 

/* main */
section.content { width: 100%; height: 100%; display: flex; flex-wrap: wrap; row-gap : 8px; } 
.content>select { width: 100px; height: 26px; margin-right: auto; padding-left: 20px; font-size: 17px; } 
.content>a { margin-left: auto; display: block; padding: 2px 4px; border-radius: 7px; background-color: #1ed761; color: #fff; font-size: 17px; font-weight: 500; letter-spacing: -0.8px; line-height: 1.5; margin-bottom: auto; }  

.content>article.list { width: 100%; height: 530px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; row-gap: 2vh; overflow-y: auto; } 
.list>a { display: flex; width: 100%; justify-content: space-between; } 
.list>a.left { flex-direction: row; } 
.list>a.right { flex-direction: row-reverse; } 
div.image { width: 150px; height: 110px; border-radius: 20px; } 
.image>img { width: 100%; height: 100%; border-radius: 20px; object-fit: cover; border: 1px solid #f6f6f6; } 
div.text { display: flex; flex-direction: column; width: 150px; height: 110px; } 
.text>h6 { width: 100%; font-size: 15px; line-height: 26px; letter-spacing: -1.5px; font-weight: bold; color: #262626; } 
.text>p { width: 100%; height: 100%; font-size: 15px; letter-spacing: -0.7px; line-height: 1.4; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4;      
          -webkit-box-orient: vertical; overflow: hidden; color: #404040; } 

