@import url(reset.css);


/* common */
body{ width: 375px; height: 812px; justify-content: center; font-family: 'Noto Sans KR', sans-serif; overflow: hidden; margin: 0 auto; }
input { outline: none; background-color: #d9f8e5; border-radius: 7px; border: none; padding: 2% 2%; }
input::placeholder { color: #6b6c68; font-size: 14px; opacity: 1; letter-spacing: -0.7px; line-height: 1.43; }
input:focus::placeholder { opacity: 0; }
button[type="button"],
button[type="reset"],
button[type="submit"] { padding: 1% 2%; background-color: #1ed761; color: #fff; font-size: 16px; border-radius: 7px; cursor: pointer; }


/* layout */
header { width: 375px; height: 87px; background-color: #1ed761; padding-top: 33px; }
#header_inner { display: flex; flex-wrap: nowrap; justify-content: space-between; padding: 0 17px; }
#header_inner h2 { color: #fff; line-height: 1.43; font-size: 24px; letter-spacing: -1.2px; align-self: flex-end; text-indent: 40px; margin: 0 auto; }
#header_inner>a:last-child { display: flex; width: 45px; height: 45px; align-self: flex-end; }

main { width: 750px; height: 725px; display: flex; flex-flow: column wrap; transform: translateX(0px); transition: transform 0.1s ease-in-out; overflow: hidden; }

main>section { width: 375px; height: auto; display: flex; flex-flow: column nowrap; padding: 17px 20px 34px; }
main>section>h3 { width: 100%; background: linear-gradient(transparent 95%, #ebebeb 2px); font-size: 21px; text-indent: 7px; padding-bottom: 8px;
                  letter-spacing: -1.05px; font-weight: bold; color: #262626; }
main>section>form>fieldset { display: flex; flex-direction: column; gap: 10px; padding: 10px 0 43px; }
main>section>form>fieldset>section { display: flex; flex-wrap: wrap; width: 100%; }

section#prev { transform: translateX(0px); background: #fff; }
section#prev input::placeholder { font-size: 15px; }

section.name,
section.ID,
section.password,
section.confirm_password { gap: 10px; }
section.name>label,
section.ID>label,
section.password>label,
section.confirm_password>label { width: 100%; font-size: 13px; }
section.address>label,
section.mail>label,
section.phone>label { width: 22%; font-size: 13px; margin-right: 10px; }

section.name>input[type="text"]#user_name1 { width: 40%; }
.name>input[type="text"]#user_name2 { width: 57%; }
section.ID>input[type="text"] { width: 73%; }
.ID>button { width: 22%; }
section.password>input[type="password"],
section.confirm_password>input[type="password"] { width: 100%; }

section.address,
section.phone { row-gap: 8px; margin-top: 10px; justify-content: space-between; }
.address>label>span { font-size: 13px; }
.address>input[type="text"]#area_num { width: calc(52% - 16px); margin-right: 16px; }
.address>button { width: 22%; }
.address>input[type="text"]#user_address { width: calc(79% - 16px); }
.address>input[type="text"]#user_address2 { margin-left: auto; width: calc(79% - 16px); }

section.mail,
section.phone { margin-top: 9px; justify-content: space-between; }
.mail>input[type="text"] { width: 74%; }
.phone>input[type="tel"] { width: 74%; }


section.page { display: flex; justify-content: space-between; margin-top: auto; }
section.page>a { text-decoration: none; color: #fff; letter-spacing: -0.8px; font-size: 16px; padding: 15px 4%; 
                background-color: #1ed761; border-radius: 7px; width: 95px; height: 52px; display: flex; justify-content: center; align-items: center; }
section.page>button[type="button"] { text-decoration: none; color: #fff; letter-spacing: -0.8px; font-size: 16px; padding: 15px 4%; 
                                    background-color: #1ed761; border-radius: 7px; width: 95px; height: 52px; display: flex; justify-content: center; align-items: center;}

                
section#next { transform: translateX(0px); background: #fff; opacity: 0; }
section.profile { gap: 16px 16px; }
.profile>h5,
.nickname>label,
.interest>h5 { font-size: 18px; line-height: 1.43; width: 100%; text-indent: 7px;}
.profile>h5>span { font-size: 14px; }
.profile>label.upload_image { margin: 0 auto; }
section.nickname { gap: 16px 16px; margin-bottom: 10px; }
.nickname>input[type="text"] { width: 73%; }
.nickname>button { width: 22%; }
section.interest { flex-direction: column; gap: 8px 16px;  }
.interest>label>input[type="checkbox"],
.interest>label>input:checked[type="checkbox"],
.interest>label>input:focus[type="checkbox"] { appearance: none; outline: none; width: 19px; height: 19px; padding: 0; border-radius: 3px; margin: 0 16px; 
                                              position: relative; }
.interest>label>input:checked[type="checkbox"]::after,
.interest>label>input:focus[type="checkbox"]::after { content: ""; display: block; position: absolute; left: 3px; bottom: 7px; 
                                                      width: 12px; height: 8px; transform: rotate(-45deg); border-left: 3px solid #10502c; border-bottom: 3px solid #10502c; }
section.confirm { display: flex; justify-content: space-between; gap: 12px; margin: 22% 0; }
.confirm>button { width: calc( 50% - 6px ); display: flex; justify-content: space-between; padding: 18px 10%; height: 52px; }