@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/* splash */

body{ width: 100vw; height: calc(100vh - 64px); background-color: #1ed761; overflow: hidden; position: fixed; display: flex; justify-content: center; font-family: 'Noto Sans KR', sans-serif; }


div.splash { width: 234px; height: 196px; background: url(../images/logo.png) no-repeat 50% 50%; background-size: cover; margin-top: 234px;
            position: relative; animation: loading 1s ease-in-out 0s; }
p { position: absolute; right: 0; top: 183px; color: #fff; letter-spacing: -1.2px; font-size: 24px; line-height: 40px; }
p>span { color: #10502c; font-weight: bolder; letter-spacing: -1.6px; font-size: 32px; }

@keyframes loading {
  from{
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

